.header {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: header;
  padding: 20px;
  border: 1px dotted var(--lightBlue);
}

.nav {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.ul {
  display: flex;
  flex-direction: column;

  & a {
    padding: 8px 6px;
    min-width: min-content;

    &:hover {
      background-color: var(--blue);
      color: var(--white);
    }
  }
}

.githubLinkWrapper {
  grid-column-start: 2;
  display: flex;
  justify-content: flex-end;
}

.link {
  composes: link from "../../global.module.css";
  padding: 4px;
}

@media screen and (min-width: 426px) {
}
