.footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 4px;
}

.textGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.link {
  margin-top: 4px;
}

@media screen and (min-width: 426px) {
  .footer {
    grid-area: footer;
    padding: 20px;
    border: 1px dotted var(--lightBlue);
  }
}
