.page {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  gap: 12px;
  padding: 12px;
  background: linear-gradient(#ffffff, #edf4ff);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@media screen and (min-width: 426px) {
  .page {
    padding: 16px;
    grid-template-columns: 1fr 200px;
    grid-template-areas:
      "header ."
      "main footer"
      "main footer";
  }

  .footer {
    grid-area: footer;
    padding: 20px;
    border: 1px dotted var(--lightBlue);
  }
}
