.page {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 120px 1fr 200px;

  padding: 16px;
  background: linear-gradient(#ffffff, #edf4ff);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@media screen and (min-width: 426px) {
  .page {
    grid-template-columns: 1fr 200px;
    grid-template-areas:
      "header ."
      "main footer"
      "main footer";
    gap: 12px;
  }

  .header {
    grid-area: header;
    padding: 20px;
    border: 1px dotted var(--lightBlue);
  }

  .main {
    grid-area: main;
    padding: 20px;
    border: 1px dotted var(--lightBlue);
  }

  .footer {
    grid-area: footer;
    padding: 20px;
    border: 1px dotted var(--lightBlue);
  }
}
